:root {
    --logo-color: #000;
    --background-footer: #2f303a;
    --background: #fff;
    --button-color: #2196f3;
    --title-color: #212121;
    --text-color: #757575;
    --footer-text-color: rgba(255, 255, 255, 0.6);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.body {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-logo {
    color: var(--button-color);
    font-weight: 700;
    font-size: 26px;
    font-family: "Raleway", sans-serif;
    margin-right: 93px;
    letter-spacing: 0.03em;
}

.nav-word {
    color: var(--logo-color);
    font-weight: 700;
    font-size: 26px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
}

.list-wrap {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-link {
    margin-right: 50px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.nav-link:hover {
    color: var(--button-color);
}

.nav-wrap {
    display: flex;
    align-items: center;

}

.wrap-link {
    margin-left: 50px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentation {
    padding-top: 200px;
    padding-bottom: 200px;
    color: var(--background);
    background-color: var(--background-footer);
}

.presentation-title {
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}
.presentation-button{
padding-top: 10px;
padding-bottom: 10px;
padding-left: 30px;
padding-right: 30px;
margin: 0 auto;
background-color: var(--button-color);
border-radius: 4px;
border: 2px;
font-family: 'Roboto', sans-serif;
}
.button-link {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--background);
}